################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/ScanUtilityExample/obj
/ScanUtilityExample/Properties
/ScanUtilityLibraryVer2/bin/Debug/ScanUtilityLibraryVer2.pdb
/ScanUtilityLibraryVer2/bin/Debug/CommonLib.pdb
/ScanUtilityLibraryVer2/obj
*.pdb
/ScanUtilityLibraryVer2.LivoxSdk2/obj
/ScanUtilityExample/.vs
/ScanUtilityExample/bin/Debug/ScanUtilityExample.exe
/ScanUtilityExample/bin/Debug/ScanUtilityLibraryVer2.dll
/ScanUtilityExample/bin/Debug/ScanUtilityLibraryVer2.LivoxSdk2.Core.dll
/ScanUtilityExample/bin/Debug/ScanUtilityLibraryVer2.LivoxSdk2.Core.xml
/ScanUtilityExample/bin/Debug/ScanUtilityLibraryVer2.LivoxSdk2.dll
/ScanUtilityExample/bin/Debug/ScanUtilityLibraryVer2.LivoxSdk2.xml
/ScanUtilityExample/bin/Debug/ScanUtilityLibraryVer2.LivoxSdk2AnyCpu.Core.dll
/ScanUtilityExample/bin/Debug/ScanUtilityLibraryVer2.LivoxSdk2AnyCpu.Core.xml
/ScanUtilityExample/bin/Debug/ScanUtilityLibraryVer2.LivoxSdk2AnyCpu.dll
/ScanUtilityExample/bin/Debug/ScanUtilityLibraryVer2.LivoxSdk2AnyCpu.xml
/ScanUtilityExample/bin/Debug/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet45.dll
/ScanUtilityExample/bin/Debug/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet45.xml
/ScanUtilityExample/bin/Debug/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet9_0.dll
/ScanUtilityExample/bin/Debug/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet9_0.xml
/ScanUtilityExample/bin/Debug/ScanUtilityLibraryVer2.xml
/ScanUtilityExample_CommandLineNet9_0/bin/Debug/net9.0
/ScanUtilityExample_CommandLineNet9_0/obj
/ScanUtilityLibraryVer2/.vs
/ScanUtilityLibraryVer2/bin/Debug/ScanUtilityLibraryVer2.dll
/ScanUtilityLibraryVer2/bin/Debug/ScanUtilityLibraryVer2.xml
/ScanUtilityLibraryVer2.LivoxSdk2/.vs
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet45/.vs
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet45/bin/Debug
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet45/bin/Debug/x64/livox_lidar_sdk_shared.dll
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet45/obj
*.user
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet9_0/bin/Debug
/ScanUtilityLibraryVer2.LivoxSdk2AnyCpuNet9_0/obj
/ScanUtilityLibraryVer2.Tianhe/.vs
